<title>Latihan4-2</title>
</head>
<body bgcolor="#f29f48">
<FORM METHOD="POST" ACTION=“proses.php">
<H4><center><font Size = "5" font color="#144973" > STUDENT BIO </font></center></H4>
<center><img src = "uad.jpg" width="400" height="200"/> </td> </center>

<B>Are you a student?</B>
<INPUT TYPE="checkbox" NAME="var2">

<p>NAME : 
<INPUT TYPE="text" NAME="var1"
SIZE="30" VALUE="Enter
your name here."></p>

<p>NIM : 
<INPUT TYPE="text" NAME="var1"
SIZE="30" VALUE="Enter
your nim here."></p>

<p>DATE OF BIRTH : 
<INPUT TYPE="text" NAME="var1"
SIZE="30" VALUE="Enter
your date of birth here."></p><BR>

<B>How old are you?</B>
<BR><INPUT TYPE="radio" NAME="var3"
VALUE="r1">10 - 15
<BR><INPUT TYPE="radio" NAME="var3"
VALUE="r2">16 - 20
<BR><INPUT TYPE="radio" NAME="var3"
VALUE="r3">21 - 25
<BR><BR><B>what is your Gender ?</B>
<BR><INPUT TYPE="radio" NAME="var4"
VALUE="r1">woman
<BR><INPUT TYPE="radio" NAME="var4"
VALUE="r2">man <BR><BR>

<B>Where are you from?</B>
<BR><SELECT NAME="var6" SIZE="1">
<OPTION VALUE="IDN" SELECTED>INDONESIA
<OPTION VALUE="JPN">JAPAN
<OPTION VALUE="KOR">KOREA
</SELECT>
<BR><BR>

<B>Your Address:</B>
<BR><TEXTAREA NAME="var7" COLS="30"
ROWS="6">
</TEXTAREA><BR><BR>
<INPUT TYPE="submit" NAME="var4"
VALUE="Send">
<INPUT TYPE="reset" NAME="var5"
VALUE="Clear">
</FORM>
</body></html>