Ini adalah halaman selanjutnya dengan nama dokumen hal2.htm. 
Ini adalah bagian bawah. <br/>
<a href= "PWeb2022-Tugas03g-SKRIP-H-2100018404-LIFA.html#awal"><img src="panah.gif" width="100" height="100"/></a>