<style> 
body {font-family: Verdana, sans-serif; color: black; background: white;}   
   
#foto{
width: 150%
float: left;
height: 75%;
overflow: auto;
column-span: 2;
background: url(gunung.jpg);
}
    
#sosmed{
background-color: white;
width: 8%;
height: 75%;
overflow: auto;
float: left;
}

#about{
    background-color: white;
overflow: auto;
float: left;
background-color: white;
    column-span: 2;
}

#infor{
float: left;
overflow: auto;
column-span: 2;
background-color: white;
}

.paragraf { 
font-style: bold;  
color: purple; 
font-size: 40px; 
text-align: left;
}
</style>