*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(FJFJ.jpg) ;
	background-size: cover;
	background-position: left;

	position: relative;
}

nav{
	display: flex;
	width: 100%;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px0;
}

nav ul{
	flex: 1;
	text-align: right;
	padding-right: 30px;
}
nav ul li{
	display: inline-block;
	list-style:  none;
	margin:  30px 60px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	position: relative;
	padding: 0 15px;
}

nav ul li a::after{
	content: ' ';
	width: 0;
	height : 3px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	background: black;
	transition: width 0.3s;
}

nav ul li a:hover::after{
	width: 50%;
}

.text-box{
	
	position: absolute;
	padding-left: 60%;
	bottom: 8%;
}


.social-icons{
	position: absolute;
	right: 5%;
	bottom: 8%;
}
.social-icons img{
	width: 25px;
	display: block;
	margin-left: 25px 5px;
}
.about{
	background-color: lightblue;
}

.image{
	align-items: center;
	padding: 20px 10%;
}

.menu .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minimax(30rem, 1fr));
	gap:  1.5rem;
}

.menu .box-container .box{
	padding:  5rem;
	text-align: center;
	border:var(--border);
}

.menu  .box-container .box img{
		height: 10rem;
}

.menu  .box-container .box h3{
	font-family: Cambria;
	color: blue;
	font-size: 2rem;
	padding:1rem 0;
}

.menu  .box-container .box .price{
	color: #fff;
	font-size: 2rem;
	padding:.5rem 0;
}

.menu  .box-container .box .price span{
	
	font-size: 1.5rem;
	text-decoration: line-through;
	font-weight: lighter;
}

.menu .box-container .box:hover{
	background: #4480be;
}

.menu .box-container .box:hover >*{
	color:var(--black);
}

footer{
	position: fixed;
	bottom: 0;
}
@media (max-height:1100px){    
	footer { position: static; }
	header { padding-top:40px; }
} /* untuk ukuran lembar footer */
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding-left: 30;
	margin-top: 0px;
} 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	padding-top: 30;
}/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0; }
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
} /* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
} /* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons{padding-left: 300;}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}





