*{  margin-top: 20px;
	margin: auto;
	padding: auto; }
body{ background-color: rosybrown;}
header { text-align: center; }
nav {	background-color: #333333;
		width: 80%;
		height: 39px;  }
ul{	list-style-type: none;
	padding-left: 0px; }
li {display: inline-block;
	height: 30px;
	width: 60px;
	margin-right: 20px;
	margin-left: 3px;
	padding-top: 10px;
	text-align: center; }
li a {	text-decoration: none;
		color: white; }
li:hover{ background-color: orangered; }
main{	width: 80%;
		height: 5px;
		border: 1 px solid rgb(184, 184, 0.3); }
article{	width: 70%;
			height:890px;
			overflow: auto;
			float: left;
			background-color: #E0E030; }
article font { 
	font color: black; }

aside{
width: 30%;
height: 690px;
padding-top: 200;
overflow: auto;
float: left;
background-color: #F09060;
}
aside font{
	padding-left: 100;
	font-size: 15px;

}

aside img {
	padding-left: 60;
	font-size: 20px;
}

#article2{
width: 100%;
height: 470px;
overflow: auto;
float: left;
background-color: #F0C080;
}
#article2 p {
	text-align: center;
	font-size: 40;
	font-style: bold;

}
.tulisan {
	padding-left: 20;
	padding-top: 20;
}
footer{
	position: fixed;
	bottom: 0;
}
@media (max-height:1100px){    
	footer { position: static; }
	header { padding-top:40px; }
} /* untuk ukuran lembar footer */
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 80%;
	text-align: left;
	font: bold 16px sans-serif;
	padding-left: 30;
	margin-top: 80px;
} 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
	padding-top: 30;
}/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0; }
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
} /* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
} /* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons{padding-left: 300;}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

}
