<style> 
body {font-family: Verdana, sans-serif; color: black; background: white;}   
   
#foto{
width: 150%
float: left;
height: 75%;
overflow: auto;
column-span: 2;
background: url(gunung.jpg);
}
#foto2{
 width: 1000px;
    height: 150px;
float: center;

overflow: auto;
background: url(WALLPAPER2.png);
}
    
#sosmed{
background-color: white;
width: 8%;
height: 75%;
overflow: auto;
float: left;
}


#about{
    background-color:white;
overflow: auto;
float: center;
    column-span: 1;
}

#infor{
float: left;
overflow: auto;
column-span: 2;
background-color: white;
}

.paragraf { 
font-style: bold;  
color: purple; 
font-size: 40px; 
background-color: skyblue;
text-align: center;
}
.p{
    width: 1000px;
    height: 150px;
    background-color: white;
    padding-left: 500px;
    padding-bottom: 200px;
    background-color: white;
    }
    .q{
    width: 1000px;
    height: 150px;
    background-color: white;
    padding-left: 500px;
    padding-bottom: 80px;
    background-color: white;
    }
</style>
